<article class="game-play">
      <header>
        <h1 class="icon-avatar-bw">TriviApp</h1>
        <figure><img src="temp/avatar2.svg"><figcaption>mollyfish</figcaption></figure>
      </header>
      <section class="score-card">
        <h1>Entertainment Score</h1>
        <!-- <h2 class="star one"></h2> -->
        <h2 class="star two"></h2>
        <!-- <h2 class="star three"></h2> -->
        <!-- <h2 class="star four"></h2> -->
        <!-- <h2 class="star five"></h2> -->
        <p class="score">2 correct of 5</p>
        <ul>
          <li>
            <p class="question">What year did World War II end?</p>
            <p class="guess">You guessed: 1941</p>
            <p class="answer">Correct answer: 1945</p>
          </li>
          <!-- <li>
            <p class="question">John, Paul, George, and Ringo were in a band called ______.</p>
            <p class="guess">You guessed: The Who</p>
            <p class="answer">Correct answer: The Beatles</p>
          </li> -->
          <li>
            <p class="question">Who was the first man to walk on the moon?</p>
            <p class="guess">You guessed: Louis Armstrong</p>
            <p class="answer">Correct answer: Neil Armstrong</p>
          </li>
          <!-- <li>
            <p class="question">A tomato is ______.</p>
            <p class="guess">You guessed: a legume</p>
            <p class="answer">Correct answer: a fruit</p>
          </li> -->
          <li>
            <p class="question">Pomegranates are a major feature in the myth of Persephone, wife of _______.</p>
            <p class="guess">You guessed: Zeus</p>
            <p class="answer">Correct answer: Hades</p>
          </li>
        </ul>
      </section>
      <a class="play-button">Play Again</a>
      <div class="button-wrap">
        <a class="logout-button">Log Out</a>
        <a class="to-profile-button">Profile</a>
      </div>
    </article>