<section class="component">
  <h1 class="notes">Category list:</h1>
  <section class="cat-card">
    <ul>
      <li class="cat-button">Sports</li>
      <li class="cat-button">Entertainment</li>
      <li class="cat-button">History</li>
      <li class="cat-button">Science</li>
<!--       <li class="cat-button">Science</li>
      <li class="cat-button">Star Wars</li>
      <li class="cat-button">Math</li> -->
    </ul>
  </section>
  <a class="logout-button" data-ng-click="logout()">Log Out</a>
  <a class="to-profile-button" data-ng-click="viewProfile()">To Profile</a>
</section>
