<div>
  <section  class="component" data-ng-if="!newUser">
    <header><h1 class="icon-avatar-bw">TriviApp</h1></header>
    <form class="login" id="login">
      <fieldset class="slide-in-down">
        <legend>Login</legend>
        <input name="username" type="text" placeholder="username"/>
        <input name="password" type="text" placeholder="password"/>
        <input class="button" type="submit" value="Let's play now!"/>
        <input data-ng-click="newUserSignup()" class="away-button" type="submit" value="create new account"/>
      </fieldset>
    </form>
  </section>

  <section class="component" data-ng-if="newUser">
    <header><h1 class="icon-avatar-bw">TriviApp</h1></header>
    <form class="login slide-in-up" id="signup">
      <fieldset>
        <legend>New User</legend>
        <input name="username" type="text" placeholder="username"/>
        <input name="password" type="text" placeholder="password"/>
        <input name="password" type="text" placeholder="re-enter password"/>
        <fieldset class="user-avatar-selector">
          <legend>Select your avatar</legend>
          <ul>
            <li class="slide-in-right">
              <input name="avatar" type="radio" value="red"/>
              <label>
                <img src="imgs/avatar1.svg">
              </label>
            </li>
            <li class="slide-in-left">
              <input name="avatar" type="radio" value="orange"/>
              <label>
                <img src="imgs/avatar2.svg">
              </label>
            </li>
            <li class="slide-in-right">
              <input name="avatar" type="radio" value="yellow"/>
              <label>
                <img src="imgs/avatar3.svg">
              </label>
            </li>
            <li class="slide-in-left">
              <input name="avatar" type="radio" value="green"/>
              <label>
                <img src="imgs/avatar4.svg">
              </label>
            </li>
            <li class="slide-in-right">
              <input name="avatar" type="radio" value="purple"/>
              <label>
                <img src="imgs/avatar6.svg">
              </label>
            </li>
            <li class="slide-in-left">
              <input name="avatar" type="radio" value="pink"/>
              <label>
                <img src="imgs/avatar7.svg">
              </label>
            </li>
          </ul>
        </fieldset>
        <input class="button" type="submit" value="Add New Player"/>
        <input data-ng-click="oldUserSignin()" class="away-button" type="submit" value="return to login"/>
      </fieldset>
    </form>
  </section>
</div>