<section class="component">
  <h1 class="notes">Login form:</h1>
  <form class="login" id="login">
    <fieldset class="slide-in-down">
      <legend>Login</legend>
      <input name="username" type="text" placeholder="username"/>
      <input name="password" type="text" placeholder="password"/>
      <input class="button" type="submit" value="Let's play"/>
    </fieldset>
  </form>
  <form class="login" id="login">
    <fieldset class="slide-in-up">
      <legend>New User</legend>
      <input name="username" type="text" placeholder="username"/>
      <input name="password" type="text" placeholder="password"/>
      <fieldset>
        <input name="avatar" type="radio" value="Red"/>
        <input name="avatar" type="radio" value="Orange"/>
        <input name="avatar" type="radio" value="Yellow"/>
        <input name="avatar" type="radio" value="Green"/>
        <input name="avatar" type="radio" value="Purple"/>
      </fieldset>
      <input class="button" type="submit" value="Let's play"/>
    </fieldset>
  </form>
</section>