<header>
  <h1 class="icon-avatar-bw">TriviApp</h1>
</header>
<section data-ng-controller="ProfileController">
  <section class="player-profile">
    <h1>TriviApp</h1>
    <figure><img src="imgs/avatar5.svg"><figcaption>{{user.username}}</figcaption></figure>      
  </section>
  <a class="big-button" href="#/home">Play Now</a>
  <a class="small-button" href="#/signin">Quit</a>
</section>
<footer>
  <ul>
    <li>&copy; Copyright 2015. All Rights Reserved.</li>
    <li>Molly Kent, Clare Monahan, Will Schull, Monica Wu, Lyle Charles Scott</li>
  </ul>         
</footer>
