<section class="score-card">
  <div data-result-list
       data-category-header="categoryName"
      ></div>
  <div class="stars">
    <span data-ng-class="{'icon-0stars': none, 'icon-1star': one, 'icon-2stars': two, 'icon-3stars': three, 'icon-4stars': four, 'icon-5stars': five}"></span>
  </div>
  <p class="score">{{right}} correct of 5</p>
  <ul>
    <li class="incorrect" data-ng-repeat="obj in incorrectArr">{{obj}}</li>
    <li class="correct" data-ng-repeat="obj in correctArr">{{obj}}</li>
  </ul>
</section>