<section class="score-card">
  <div data-result-list
       data-category-header="categoryName"
      ></div>
  <div class="stars">
    <span class="icon-star-incorrect"></span>
    <span class="icon-star-incorrect"></span>
    <span class="icon-star-incorrect"></span>
    <span class="icon-star-incorrect"></span>
    <span class="icon-star-incorrect"></span>
  </div>
  <p class="score">2 correct of 5</p>
  <div data-ng-repeat="question in questionsArr">{{question.question}}<br />{{question.correctAnswer}}</div>

  

  

  <ul>
    <li data-ng-repeat="question in questions">{{question.question}}</li>
  </ul>
</section>