<section class="score-card">
  <div data-result-list
       data-category-header="categoryName"
      ></div>
  <div class="stars">
    <span data-ng-class="{'icon-star-incorrect': isIncorrect, 'icon-star-correct': isCorrect}"></span>
    <span data-ng-class="{'icon-star-incorrect': isIncorrect, 'icon-star-correct': isCorrect}"></span>
    <span data-ng-class="{'icon-star-incorrect': isIncorrect, 'icon-star-correct': isCorrect}"></span>
    <span data-ng-class="{'icon-star-incorrect': isIncorrect, 'icon-star-correct': isCorrect}"></span>
    <span data-ng-class="{'icon-star-incorrect': isIncorrect, 'icon-star-correct': isCorrect}"></span>
  </div>
  <p class="score">{{right}} correct of 5</p>
  <ul>
    <p>Here's what you missed:</p>
    <li data-ng-repeat="obj in incorrectArr">{{obj}}</li>
  </ul>
  

  

  <ul>
    <li data-ng-repeat="question in questions">{{question.question}}</li>
  </ul>
</section>