.answer-button {
  @extend %navigate-forward-button-uppercase;
  width: 48%;
  min-height: 4.6em;
  @include flex-container(inline-flex,row,wrap,center,center,center);
  position: relative;
  margin: 0.25em 1%;
  .letter {
    font-size: $font-size-large;
    width: 13%;
    margin-right: 2%;
  }
  .text {
    width: 85%;
    line-height: 1.2;
  }
  &:nth-child(5) {
    display: block;
    margin-left: auto;
    margin-right: auto;
    span {
      @include flex-container(inline-flex,row,wrap,center,center,center);
    }
    .letter {
      margin-top: 0.3em;
    }
  }
  .correct & {
    color: $text-color-med;
    background-color: $background-color-correct;
    border-color: $border-color-med;
    &.correct.chosen {
      color: $text-color-correct;
      background-color: $background-color-light;
      border-color: $border-color-correct;
    }
  }
  .wrong & {
    color: $text-color-med;
    background-color: $background-color-wrong;
    border-color: $border-color-med;
    &.correct {
      color: $text-color-correct;
      background-color: $background-color-light;
      border-color: $border-color-correct;
    }
    &.chosen {
      color: $text-color-wrong;
      background-color: $background-color-wrong;
      border-color: $border-color-wrong;
    }
  }
}

