.big-button {
  @include button($text-color-dark, $background-color-theme, $border-color-med, $main-font-bold, $font-size-regular, $background-color-theme, $text-color-dark, "auto");
  display: block;
  margin: 0.25em auto;
  width: 90%;
}
.big-button.won {
  background-color: $background-color-correct;
}
.big-button.lost {
  background-color: $background-color-wrong;
}
