.cat-button {
  @extend %navigate-forward-button-uppercase;
  width: 90%;
  display: block;
  margin: 0.25em auto;
  &:focus {
    -webkit-box-shadow: 1px 1px 10px 6px $background-color-theme;
    -moz-box-shadow: 1px 1px 10px 6px $background-color-theme;
      box-shadow: 1px 1px 10px 6px $background-color-theme;
  }  
}
