footer {
  small {
    @include set-font(rgba($text-color-theme, .5), $main-font-regular, $font-size-small);
  }
  ul {
    list-style-type: none;
    text-align: center;
    li {
      display: inline-block;
    }
  }
}