.game-round {
  padding: 1em 0 0.5em 0;
  width: 100%;
  background-color: $background-color-dark;
  h1 {
    @include set-font($text-color-theme, $main-font-regular, $font-size-jumbo, "auto");
    text-align: center;
    margin-bottom: 0.25em;
  }
  h2 {
    @include set-font($text-color-light, $main-font-light-italic, $font-size-regular, "auto");
    text-align: center;
    margin-bottom: 0.5em;
  }
  .quit-button {
    margin-top: 1em;
  }
}