.player-profile {
  display: relative;
  text-align: center;
  width: 50%;
  border: 1px solid $border-color-dark;
  border-radius: 0.5em;
  background-color: $background-color-theme;
  margin: auto;
  .player-stat-indicator {
    display: absolute;
    width: 15%;
    padding: 1em;
    background-color: $background-color-light;
    z-index: 100;
    margin: 0;
    .category-1 {
      background-color: blue;

    }
  }
}

.player-portrait {
  height: 8em;
  width: 8em;
  border-radius: 50%;
  background-color: $background-color-dark;
  border: 2px solid $border-color-med;
  padding: auto;
  // margin: auto;
}