.rank-indicator {
  @include set-font($text-color-dark, $main-font-bold, $font-size-regular, uppercase);
  padding: 1em;
  border: 1px solid $border-color-dark;
  border-radius: 0.5em;
  background-color: $background-color-theme;
  border: 3px solid $border-color-dark;
  border-radius: 0.5em;
  margin: 1%;
  min-width: 25%;
}
  .category-sports .rank::before {
    content: "\2605 \2605 \2605 \2606 \2606";
  }
  .category-entertainment .rank::before {
    content: "\2605 \2605 \2605 \2605 \2605";
  }
  .category-history .rank::before {
    content: "\2605 \2606 \2606 \2606 \2606";
  }
  .category-science .rank::before {
    content: "\2606 \2606 \2606 \2606 \2606";
  }

.star-one::before {
  content: "\2605 \2606 \2606 \2606 \2606";
}
.star-two::before {
  content: "\2605 \2605 \2606 \2606 \2606";
}
.star-three::before {
  content: "\2605 \2605 \2605 \2606 \2606";
}
.star-four::before {
  content: "\2605 \2605 \2605 \2605 \2606";
}
.star-five::before {
  content: "\2605 \2605 \2605 \2605 \2605";
}