.score-card {
  margin: 1em auto 0 auto;
  border: 3px solid $border-color-theme;
  border-radius: 0.5em;
  padding: 0.75em 5%;
  width: 96%;
  background-color: $background-color-light;
  h1 {
    @include set-font($text-color-dark, $main-font-regular, $font-size-jumbo, "auto");
    text-align: center;
    margin-bottom: 0.5em;
  }
  h2 {
    @include set-font($text-color-dark, $main-font-regular, $font-size-large, "auto");
    margin-bottom: 0.35em;
    border-bottom: 1px solid rgba($border-color-theme, 0.5);
    padding-bottom: 0.35em;
    text-align: center;
    line-height: 1.5;   
  }
  p {
    text-align: center;
    line-height: 1.2;
    margin: 0.5em 0;
  }
  .question {
    @include set-font($text-color-theme, $main-font-bold, $font-size-regular, "auto");
  }
  .star {
    @include set-font($text-color-theme, $main-font-regular, $font-size-jumbo, "auto");
    text-align: center;
  }
  p.score {
    @include set-font($text-color-dark, $main-font-bold, $font-size-regular, uppercase);
  }
  .one.star:before {
    content: "\2605 \2606 \2606 \2606 \2606";
  }
  .two.star:before {
    content: "\2605 \2605 \2606 \2606 \2606";
  }
  .three.star:before {
    content: "\2605 \2605 \2605 \2606 \2606";
  }
  .four.star:before {
    content: "\2605 \2605 \2605 \2605 \2606";
  }
  .five.star:before {
    content: "\2605 \2605 \2605 \2605 \2605";
  }
}
